/* ------------------------
import
------------------------ */
/* ------------------------
_setting.scss
------------------------ */
/* ------------------------
base
------------------------ */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  color: #333333;
  font-family: "Montserrat",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.section-wrapper {
  padding: 140px 4vw 0;
}

.section-wrapper:first-of-type {
  padding-top: 70px;
}

.section-wrapper:nth-of-type(4) {
  padding-top: 60px;
}

.section-wrapper:nth-of-type(5) {
  padding-top: 65px;
}

.section-wrapper:last-of-type {
  padding: 80px 4vw;
}

.section-wrapper .section-inner .section-title {
  font-size: 3.6rem;
  font-weight: bold;
  color: #391E88;
}

.section-wrapper .section-inner .section-title .section-subtitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: #391E88;
  display: block;
}

/* ------------------------
header
------------------------ */
.header {
  position: absolute;
  width: calc(100% - 60px);
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  z-index: 10;
}

.header .header-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-nav .nav-list .nav-item {
  margin-left: 25px;
}

.header .header-nav .nav-list .nav-item:first-of-type {
  margin-left: 0;
}

.header .burger-btn {
  display: none;
}

.link-btn {
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#7633a4), color-stop(51%, #250d65), to(#7633a4));
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  width: 200px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 21px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  background-size: 200% auto;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.link-btn:hover {
  background-position: right center;
}

/* ------------------------
fv
------------------------ */
.fv {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fv .main-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.fv .main-copy .main-title {
  font-size: 7.2rem;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 20px;
}

.fv .main-copy .main-subtitle {
  font-size: 2.4rem;
  font-weight: 600;
}

.fv .main-copy .link .link-btn {
  font-weight: bold;
  padding: 20px 70px;
  border: 1px solid #fff;
  border-radius: 50px;
  display: block;
  margin: 50px auto 0;
  width: 220px;
}

.fv .fv-scroll {
  position: absolute;
  right: 20px;
  bottom: 0;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  padding: 10px 10px 90px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.fv .fv-scroll::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1px;
  height: 80px;
  background-color: #fff;
  content: "";
  -webkit-animation-name: scrollDownLine;
          animation-name: scrollDownLine;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scrollDownLine {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes scrollDownLine {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

/* ------------------------
news
------------------------ */
#news {
  max-width: 917px;
  margin: 0 auto;
}

#news .news-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news .news-inner .news-heading {
  text-align: center;
}

/* ------------------------
service
------------------------ */
#service {
  max-width: 1300px;
}

#service .service-heading {
  text-align: center;
  margin-bottom: 30px;
}

#service .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

#service .service-link {
  text-align: center;
}

/* ------------------------
works
------------------------ */
#works {
  max-width: 1300px;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(40%, #fff), color-stop(40%, #F0F0F0), to(#F0F0F0));
  background: linear-gradient(90deg, #fff 0%, #fff 40%, #F0F0F0 40%, #F0F0F0 100%);
  padding: 60px 20px;
}

#works .works-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  line-height: 1;
}

.news-item:last-of-type {
  margin-bottom: 0;
}

.news-item .news-list-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-item .news-list-heading .news-list-category {
  width: 82px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.news-item .news-list-heading .news-list-category .news-list-item {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px 16px;
  background-color: #E8E8E8;
  border-radius: 50px;
}

.news-item .news-list-body {
  font-weight: 300;
}

.service-item {
  max-width: 350px;
}

.service-item .card-img-wrapper img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-item .card-body {
  text-align: center;
  padding-top: 24px;
}

.service-item .card-body .card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 17px;
}

.service-item .card-body .card-text {
  text-align-last: left;
}

.works-img-wrapper img {
  width: 750px;
  height: 510px;
  -o-object-fit: cover;
     object-fit: cover;
}

.works-text-wrapper {
  width: 40%;
  text-align: center;
}

.works-text-wrapper .works-text {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */