html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  color: #333333;
  font-family: "Montserrat",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}

img {
  width: 100%;
  vertical-align: bottom;
}

/* ------------------------
header
------------------------ */
.header {
  position: absolute;
  width: calc(100% - 60px);
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  z-index: 10;
}

.header .header-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-nav .nav-list .nav-item {
  margin-left: 25px;
}

.header .header-nav .nav-list .nav-item:first-of-type {
  margin-left: 0;
}

.header .burger-btn {
  display: none;
}

/* ------------------------
fv
------------------------ */
.fv {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fv .main-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.fv .main-copy .main-title {
  font-size: 7.2rem;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 20px;
}

.fv .main-copy .main-subtitle {
  font-size: 2.4rem;
  font-weight: 600;
}

.fv .main-copy .link .link-btn {
  font-weight: bold;
  padding: 20px 70px;
  border: 1px solid #fff;
  border-radius: 50px;
  display: block;
  margin: 50px auto 0;
  width: 220px;
}

.fv .fv-scroll {
  position: absolute;
  right: 20px;
  bottom: 0;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  padding: 10px 10px 90px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.fv .fv-scroll::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1px;
  height: 80px;
  background-color: #fff;
  content: "";
  -webkit-animation-name: scrollDownLine;
          animation-name: scrollDownLine;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scrollDownLine {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes scrollDownLine {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}
/*# sourceMappingURL=style.css.map */