/* ------------------------
_setting.scss
------------------------ */
$width-large: 1300px;
$width-medium: 1110px;
$width-small: 917px;

.sp-br {
    display: none;
}


/* ------------------------
base
------------------------ */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5rem;
    color: #333333;
    font-family: "Montserrat",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}
img {
    width: 100%;
    vertical-align: bottom;
}
.section-wrapper {
    padding: 140px 4vw 0;
    &:first-of-type {
        padding-top: 70px;
    }
    &:nth-of-type(4) {
        padding-top: 60px;
    }
    &:nth-of-type(5) {
        padding-top: 65px;
        padding-bottom: 100px;
    }
    &:last-of-type {
        padding: 80px 4vw;
    }
    .section-inner {
        .section-title {
            font-size: 3.6rem;
            font-weight: 600;
            color: #391E88;
            .section-subtitle {
                font-size: 1.3rem;
                font-weight: 600;
                color: #391E88;
                display: block;
            }
        }
    }
}




/* ---------------------------------------
メディアクエリ
--------------------------------------- */
@media screen and (max-width:768px) {
    .section-wrapper {
        padding: 80px 4vw 0;
        &:first-of-type {
            padding-top: 40px;
        }
        &:nth-of-type(4) {
            padding-top: 40px;
        }
        &:nth-of-type(5) {
            padding-top: 40px;
        }
        .section-inner {
            .section-title {
                font-size: 3rem;
            }
        }
    }
}




