/* ------------------------
_setting.scss
------------------------ */
$width-large: 1300px;
$width-medium: 1110px;
$width-small: 917px;

.sp-br {
    display: none;
}


/* ------------------------
base
------------------------ */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5rem;
    color: #333333;
    font-family: "Montserrat",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}
img {
    width: 100%;
    vertical-align: bottom;
}
.section-wrapper {
    padding: 140px 4vw 0;
    &:first-of-type {
        padding-top: 70px;
    }
    &:nth-of-type(4) {
        padding-top: 60px;
    }
    &:nth-of-type(5) {
        padding-top: 65px;
        padding-bottom: 100px;
    }
    &:last-of-type {
        padding: 80px 4vw;
    }
    .section-inner {
        .section-title {
            font-size: 3.6rem;
            font-weight: bold;
            color: #391E88;
            .section-subtitle {
                font-size: 1.3rem;
                font-weight: 600;
                color: #391E88;
                display: block;
            }
        }
    }
}


/* ------------------------
header
------------------------ */
.header {
    position: absolute;
    width: calc(100% - 60px);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    z-index: 10;
    .header-nav {
        .nav-list {
            display: flex;
            .nav-item {
                margin-left: 25px;
                &:first-of-type {
                    margin-left: 0;
                }
                a {
                    display: inline-block;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        background-color: #fff;
                        bottom: 0;
                        height: 1px;
                        left: 0;
                        width: 0;
                        transition: .5s all;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }
    }
    .burger-btn {
        display: none;
    }
}

.fixed {
    position: fixed;
    background-color: #21054D;
    transition: .3s;
    width: 100%;
    padding: 23px 30px;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

