.link-btn {
    display: inline-block;
    background-image: linear-gradient(to right, #7633a4 0%,#250d65 51%,#7633a4 100%);
    width: 200px;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 21px 0;
    box-sizing: border-box;
    border-radius: 50px;
    background-size: 200% auto;
    transition: .3s;
    position: relative;
    &:hover {
        background-position: right center;
    }
}