.company-heading {
    margin-bottom: 40px;
}
.company-body {
    .message-title {
        font-size: 4rem;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: #F5F534;
        text-decoration-thickness: 12px;
        .sp-br {
            display: none;
        }
    }
    .message-text {
        margin-top: 52px;
        margin-bottom: 30px;
        line-height: 1.8;
    }
}



/* ----------------------------
メディアクエリ
---------------------------- */
@media screen and (max-width:768px) {
    .company-heading {
        margin-bottom: 30px;
    }
    .company-body {
        .message-title {
            font-size: 3.2rem;
            line-height: 1.5;
            .sp-br {
                display: block;
            }
        }
        .message-text {
            margin-top: 43px;
        }
    }
}