.service-item {
    max-width: 100%;
    margin-right: 30px;
    &:last-of-type {
        margin-right: 0;
    }
    .card-img-wrapper {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .card-body {
        text-align: center;
        padding-top: 24px;
        .card-title {
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 17px;
        }
        .card-text {
            text-align-last: left;
        }
    }
}





@media screen and (max-width:768px) {
    .service-item {
        margin: 0 0 40px 0;
    }
}