/* ---------------------------------
各ページの共通クラス
--------------------------------- */
.pages-fv {
    width: 100%;
    height: 240px;
    position: relative;
    background-image: url("../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .pages-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
        .heading-primary {
            font-size: 3.6rem;
            font-weight: bold;
            margin-bottom: 5px;
            .heading-primary-sub {
                display: block;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }
    }
}



.guide-arrow-wrapper {
    width: 100vw;
    box-sizing: border-box;
    padding: 15px 165px;
    background-color: #F7F7F7;
    .guide-arrow-list {
        display: flex;
        align-items: center;
        .guide-arrow-item {
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}



#contact {
    margin-top: 0;
}



/* --------------------------------
メディアクエリ
-------------------------------- */
@media screen and (max-width:768px) {
    .header {
        .header-logo {
            .site-title {
                img {
                    height: 22px;
                    width: 124px;
                    object-fit: contain;
                }
            }
        }
    }


    .pages-fv {
        min-height: 190px;
        .pages-title {
            top: 60%;
            .heading-primary {
                font-size: 3rem;
                .heading-primary-sub {
                    font-size: 1.3rem;
                }
            }
        }
    }

    .guide-arrow-wrapper {
        padding: 6px 20px;
        .guide-arrow-list {
            .guide-arrow-item {
                margin-right: 10px;
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}