.recruit-contents {
    padding: 116px 0 110px;
    background-image: url("../img/bg-geometry.png");
    .recruit-message {
        margin-bottom: 70px;
        &-heading {
            color: #391E88;
            text-align: center;
            margin-bottom: 40px;
            &-title {
                font-size: 7.2rem;
                font-weight: bold;
                margin-bottom: 5px;
            }
            &-subtitle {
                font-size: 3.2rem;
                font-weight: 300;
            }
        }
        &-body {
            p {
                font-size: 1.6rem;
                line-height: 1.75;
                text-align: center;
                margin-bottom: 40px;
            }
            &-img {
                overflow: hidden;
                height: 780px;
                background-image: url(../img/recruit01.jpg);
                background-repeat: no-repeat;
                background-position: center 80%;
                background-size: cover;
                clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
            }
        }
    }
    .job-list {
        max-width: $width-medium;
        margin: 0 auto 140px;
        &-heading {
            font-size: 3.2rem;
            font-weight: 700;
            text-align: center;
            color: #391E88;
            margin-bottom: 40px;
        }
        &-body {
            padding: 65px 95px;
            background-color: #fff;
            border: 1px solid #B8AED5;
            border-radius: 10px;
        }
        &-title {
            font-size: 2.4rem;
            font-weight: bold;
            margin-bottom: 48px;
            text-align: center; 
        }
        &-table {
            width: 100%;
            margin-bottom: 50px;
            line-height: 1.8;
            tr {
                border-bottom: 1px solid #DDDDDD;
                th {
                    width: 20%;
                }
                td {
                    width: 80%;
                }
                th, td {
                    padding: 10px 30px;
                    text-align: left;
                }
            }
        }
        &-btn {
            text-align: center;
            &-text {
                display: block;
                margin-top: 10px;
            }
        }
    }
}