.header {
    position: absolute;
    width: calc(100% - 60px);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    .header-nav {
        .nav-list {
            display: flex;
            .nav-item {
                margin-left: 25px;
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
    .burger-btn {
        display: none;
    }
}